@media (max-width: 540px){ 
    .overall-aboutscreen-page{
        width:100%;
        height: max-content;
        position: relative;
    }
    .about-top-image{
   width:100%;
   height: 300px;
   background-color: black;
   position:relative;
    }
    
    .about-top-image img{
  width:100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: +1;
  top:0px;
    }
    .about-txt{
    z-index: +2;
    color:white;
    font-size: x-large;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    }
    
    .Ceo-img-section{

    }
    .ceo-image-holder{
   width:150px;
   height: 150px;
   margin: auto;
    }
    .ceo-image-holder img{
     width:100%;
     height: 100%;
     object-fit: cover;
    }
    .about-footer{
        background-color: black;
        padding: 10px;
    }
}

        @media screen and (min-width: 541px) and (max-width: 780px) {
            .overall-aboutscreen-page{
                width:100%;
                height: max-content;
                position: relative;
            }
            .about-top-image{
           width:100%;
           height: 300px;
           background-color: black;
           position:relative;
            }
            
            .about-top-image img{
          width:100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          z-index: +1;
          top:0px;
            }
            .about-txt{
            z-index: +2;
            color:white;
            font-size: x-large;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            }
            
            .Ceo-img-section{
        
            }
            .ceo-image-holder{
           width:150px;
           height: 150px;
           margin: auto;
            }
            .ceo-image-holder img{
             width:100%;
             height: 100%;
             object-fit: cover;
            }
            .about-footer{
                background-color: black;
                padding: 10px;
            }
        }
        /* @media screen and (min-width: 541px) and (max-width: 780px) {
            .overall-aboutscreen-page{
                width:100%;
                height: max-content;
                position: relative;
            }
            .about-top-image{
           width:100%;
           height: 300px;
           background-color: black;
           position:relative;
            }
            
            .about-top-image img{
          width:100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          z-index: +1;
          top:0px;
            }
            .about-txt{
            z-index: +2;
            color:white;
            font-size: x-large;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            }
            
            .Ceo-img-section{
        
            }
            .ceo-image-holder{
           width:150px;
           height: 150px;
           margin: auto;
            }
            .ceo-image-holder img{
             width:100%;
             height: 100%;
             object-fit: cover;
            }
            .about-footer{
                background-color: black;
                padding: 10px;
            }
        } */
        @media screen and (min-width: 781px){
            .overall-aboutscreen-page{
                width:100%;
                height: max-content;
                position: relative;
            }
            .about-top-image{
           width:100%;
           height: 300px;
           background-color: black;
           position:relative;
            }
            
            .about-top-image img{
          width:100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          z-index: +1;
          top:0px;
            }
            .about-txt{
            z-index: +2;
            color:white;
            font-size: x-large;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            }
            
            .Ceo-img-section{
        
            }
            .ceo-image-holder{
           width:150px;
           height: 150px;
           margin: auto;
            }
            .ceo-image-holder img{
             width:100%;
             height: 100%;
             object-fit: cover;
            }
            .about-footer{
                background-color: black;
                padding: 10px;
            }
        }
        