
.overal-client-dashboard{
position: relative;
}
.dashboard-header{
width:100vw;
padding: 10px;
background-color:  green;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.nav-links-ul li:hover{
background-color: brown;
}
.menu-icon-div{
width: max-content;
}
.user-image-name{
    display: flex;
    flex-direction: row;
    gap:5px;
    }
    .user-dashboad-image{
    width:50px;
    height: 50px;
    }
    .user-dashboad-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    .user-name-dashboad{
    padding: 9px;
    }
.client-dashboard-overall{
background-color: rgb(240, 238, 238);
padding: 20px;
position:relative;
}
/* .client-sidebar-dashboad{
    position:absolute;
    top:0px;
width:200px;
height:85vh;
background-color: blue;
} */

.dashboad-welcome-div{
width:90vw;
height: 200px;
margin: auto;
background-color: white;
}
.money-display-container{
width:90vw;
height: 200px;
margin-top: 10px;
margin-right: auto;
margin-left: auto;
background-color: rgb(212, 212, 227);
}
.pay-now-btn-div{
    width: max-content;
    margin: auto;
}
.side-bar-section{
width: 60vw;
height: 80vh;
background-color: blue;
position: absolute;
z-index: +1;
}
.x-icon{
    width: max-content;
    position: relative;
    left:100%;
    }