@media (max-width: 480px){
.overall-contact-container{
width:100%;
height: max-content;
}

.contact-pg-content{
 position:relative;
width:100%;
height: 250px;
background-color: orange;
}
.contact-pg-content img{
    position: absolute;
    z-index: +1;
    top:0px;
width:100%;
height: 100%;
object-fit: cover;
}
.contact-on-img-txt{
position: absolute;
z-index: +2;
top: 50%;
left: 50%;
width: 80vw;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}
.contact-components{
background-color:#2A144D;
gap:20px;
padding: 10vw;
}
.actual-comp{
    width: 150px;
height: 160px;
background-color: white;
}
.comp-icon{
background-color:rgb(19, 77, 223);
width: max-content;
margin:auto;
}
.contact-form{
    background-color:#2A144D;
    padding: 10px;
}
.contact-form form{
padding:20px;
}

}
@media (min-width: 768px) and (max-width: 1024px){   /* Media Query for Tablets Ipads portrait mode */
}


@media (min-width: 1025px) and (max-width: 1280px){   /* Media Query for Laptops and Desktops */
}


@media (min-width: 1281px) {          /* Media Query for Large screens */
}