.login-overall{
width: 100vw;
height: 100vh;
position:relative;
background-color: black;
}
.login-img{
position: absolute;
z-index: +1;
top:0px;
width: 100vw;
height: 100vh;
object-fit: cover;
}
.actual-login-section{
width:80vw;
height: 40vh;
position: absolute;
z-index: +2;
left: 50%;
top: 50%;
 transform: translate(-50%,-50%);
}