@media (max-width: 540px){
.overall-open-account{
    height: max-content;
    padding: 20px;
    background-color: black;
}
.overall-open-account{

}
.open-account-intro-image{
    position:relative;
    width:100%;
    height: 220px;
    background-color:black;
}
.open-account-intro-image img{
    position:absolute;
    z-index: +1;
    top:0px;
width:100%;
height: 100%;
object-fit: cover;
}
.text-on-img-openaccount{
position: absolute;
z-index: +2;
top:0px;
width:100vw;
}
.openaccount-form-div{
width:80vw;
height: max-content;
background-color: white;
margin: auto;
}
}
@media screen and (min-width: 541px) and (max-width: 780px) {
    .overall-open-account{
        height: max-content;
        padding: 20px;
        background-color: black;
    }
    .overall-open-account{
    
    }
    .open-account-intro-image{
        position:relative;
        width:100%;
        height: 220px;
        background-color:black;
    }
    .open-account-intro-image img{
        position:absolute;
        z-index: +1;
        top:0px;
    width:100%;
    height: 100%;
    object-fit: cover;
    }
    .text-on-img-openaccount{
    position: absolute;
    z-index: +2;
    top:0px;
    width:100vw;
    }
    .openaccount-form-div{
    width:400px;
    height: max-content;
    background-color: white;
    margin: auto;
    }  
}
@media screen and (min-width: 781px){
    .overall-open-account{
        height: max-content;
        padding: 20px;
        background-color: black;
    }
    .overall-open-account{
    
    }
    .open-account-intro-image{
        position:relative;
        width:100%;
        height: 220px;
        background-color:black;
    }
    .open-account-intro-image img{
        position:absolute;
        z-index: +1;
        top:0px;
    width:100%;
    height: 100%;
    object-fit: cover;
    }
    .text-on-img-openaccount{
    position: absolute;
    z-index: +2;
    top:0px;
    width:100vw;
    }
    .openaccount-form-div{
    width:80vw;
    height: max-content;
    background-color: white;
    margin: auto;
    
    }   
}