
@media (max-width: 540px){
.overall-servive-container{
width:100%;
height: 100%;
}
.Service-page-introduction{
display: flex;
flex-direction: row;
justify-content:space-between;
padding: 20px;
}
.Service-page-introduction div{
    width:50vw;
}
.service-introduction-image{
width: 100%;
height: 250px;
}
.service-introduction-image img{
width:100%;
height: 100%;
object-fit: cover;
}
.specific-services-overall{
display: flex;
flex-direction: column;
gap:20px;
}
.specific-service{
    width:80vw;
    height: max-content;
    padding: 20px;
    margin: auto;
    background-color: #F1F0FA;
}
.service-label{
width:calc(70vw - 40px);
background-color: #4E14AE;
margin-left: auto;
margin-right:auto;
margin-top: 10px;
padding: 10px;
}
.service-price{
width: max-content;
margin: auto;
}
.sign-up-btn-container{
width: max-content;
margin: auto;
}
}
@media screen and (min-width: 541px) and (max-width: 780px) {
    .overall-servive-container{
        width:100%;
        height: 100%;
        }
        .Service-page-introduction{
        display: flex;
        flex-direction: row;
        gap:20px;
        width:500px;
        margin: auto;
        }
        .Service-page-introduction div{
            width:50vw;
        }
        .service-introduction-image{
        width: 100%;
        height: 250px;
        }
        .service-introduction-image img{
        width:100%;
        height: 100%;
        object-fit: cover;
        }
        .specific-services-overall{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        gap:20px;
        padding: 20px;
        }
        .specific-service{
            background-color: #F1F0FA;
        }
        .service-label{
        /* width:calc(70vw - 40px); */
        background-color: #4E14AE;
        margin-left: auto;
        margin-right:auto;
        margin-top: 10px;
        padding: 10px;
        }
        .service-price{
        width: max-content;
        margin: auto;
        }
        .sign-up-btn-container{
        width: max-content;
        margin: auto;
        }

}
@media screen and (min-width: 781px){
    .overall-servive-container{
        width:100%;
        height: 100%;
        }
        .starting-title{
        font-size: xx-large;
        }
        .service-top-paragraph{
        font-size: larger;
       
        }
        .Service-page-introduction{
        display: flex;
        flex-direction: row;
        gap:20px;
        width:900px;
        margin: auto;
        }
        .Service-page-introduction div{
            width:50vw;
        }
        .service-introduction-image{
        width: 100%;
        height: 250px;
        }
        .service-introduction-image img{
        width:100%;
        height: 100%;
        object-fit: cover;
        }
        .specific-services-overall{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        gap:20px;
        padding: 20px;
        }
        .specific-service{
            background-color: #F1F0FA;
        }
        .service-label{
        /* width:calc(70vw - 40px); */
        background-color: #4E14AE;
        margin-left: auto;
        margin-right:auto;
        margin-top: 10px;
        padding: 10px;
        }
        .service-price{
        width: max-content;
        margin: auto;
        }
        .sign-up-btn-container{
        width: max-content;
        margin: auto;
        }

}
